* {
    color: #000;
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;


}
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

a {
    color: royalblue;
    text-decoration: none;
}

a:hover {
    text-decoration: aquamarine;
}

.main-section {
    padding: 20px;

}

header {
    position: fixed;
    display: flex;
    color: black;
    font-size: large;
    border-color: rgb(255, 0, 0);
    border: 5px;
    border-style: solid;
    padding: 20px;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    header {
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 600px) {
    nav ul  {
      flex-direction: column;
    }
  }
  

ul {
    display: flex;
    gap: 40px;
    justify-content: space-between;

}

.card-title {
    font-size: larger;
    font-weight: bolder;
}


footer {
    color: #000;
    padding: 20px;

} 
footer::after {
    content: '⭐';
}