* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

/* img {
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
} */

/* body {
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
} */

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: aquamarine;
    background-image: linear-gradient(rgba(204, 194, 194, 0.599), rgba(41, 37, 37, 0.315)), url(/assets/meteor.jpg);
    
}

a {

    font-weight: bolder;
    color: rgb(48, 205, 150);
    text-decoration: none;
    transition: ease-in-out;
}

a:hover {

    color: royalblue;
    
}

/* HEADER AND NAV BAR  */


header {

    z-index: 9999;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-size: large;
    background: black;
    border: 5px;
    border-style: none;
    padding: 0px;

}

header h1 {
    padding: 15px;
    justify-content: flex-start;
}

ul {
    background: none;
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    gap: 100px;
    justify-content: space-between;

}

@media only screen and (max-width: 600px) {
    header {
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 600px) {
    nav ul  {
      flex-direction: column;
    }
  }

  /* PICTURE SECTION  */

.profile-pic #profile {
    display: block;
}

.profile-pic #profile {
    width: 600px;
    height: 400px;
    opacity: 0.5;
    padding: 50px;

}

.profile-pic #profile:hover {
    width: 600px;
    height: 400px;
    opacity: 1;
    padding: 50px;

}
  
/* MAIN SECTION AND CARDS  */

.main-cards {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    padding: 20px;
    border: 20px;
    border: solid;
    border-color: azure;
}


#about-me {

    border: 10px;
    border: solid;
    border-color: azure;
}

#work {

    border: 10px;
    border: solid;
    border-color: azure;
}

#contact {

    border: 10px;
    border: solid;
    border-color: azure;
}

/* FOOTER SECTION  */

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer ul {
    
}

footer img {

        height: 25px;
        width: 25px;
} 

/* footer::after {
    content: '---⭐';
} */